.task{
    
    margin: 3% 0.3% 0% 5%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
  


    
}


.header{

    display: flex;
    justify-content: space-between

}

.add{

    position:fixed;
    bottom:30px;
    right: 30px;
  
}
.list{
    margin-left: 10px;
    margin-left: 10px;
   
    
}
.pop_add{
  
  
    position:fixed;
    bottom:40%;
    right: 30%;
    z-index: 100;
    border-radius: 3%;
    opacity: 99%;
}
.header_button{
    display:flex;
    gap:20px
}